<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static%}
  <link rel="stylesheet" type="text/css" href="{% static "style/main.css" %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="/static/script/main.js"></script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body{
      background: linear-gradient(90deg, rgb(197, 189, 200) 0%, rgb(190, 185, 196) 35%, rgb(201, 183, 219) 100%);
        /* font-family: 'Poppins', sans-serif; */

    }
    form{
        border-radius: 20px;
        /* margin-top: 1px !important; */
        width: 50% !important;
        background-color: white !important;
        padding: 50px;
    }

    .btn-primary{
        width: 100%;
        border: none;
        border-radius: 50px;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(103, 16, 137) 35%, rgb(132, 31, 178) 100%);
        
    }
    .input-box{
        position: relative;
    }
    .input-box p{
        position: absolute;
        top: 40px;
        right: 30px;
        cursor: pointer;
        color: #050303;
        font-size: large;
    }
    .form-control{
        color: rgba(0,0,0,.87);
        border-bottom-color: rgba(0,0,0,.42);
        box-shadow: none !important;
        /* border: none; */
        border-bottom: 1px solid;
        border-radius: 4px 4px 0 0;
        }
    .head{
        font-size: 2rem !important;
        font-weight: 700;
    }  
    .form-label{
        font-weight: 800 !important;
    }
    @media only screen and (max-width: 600px) {
        form {
        width: 100% !important;
        }
    }
</style>
<body>
  <div class="main">
    <div class="navbar-side">
        <ul>
          <li>
            <a href="{% url 'traineeHome' %}" class="link-active" title="Dashboard">
              <span class="icon"><i class="fas fa-user"></i></span>
              <span class="link-text">Profile</span>
            </a>
          </li>
          <li>
            <a href="{% url 'notification2' %}"  title="manage">
                <span class="icon"><i class="fas fa-users"></i></span>
                <span class="link-text">Notifications&nbsp;{% if num != 0 %}<strong class="text-danger bg-white rounded-circle">{{num}}</strong>{% endif %}</span>
            </a>
          </li>
          <li>
            <a href="{% url 'traineTask' %}" title="Task">
              <span class="icon"><i class="fas fa-tasks"></i></span>
              <span class="link-text">Tasks</span>
            </a>
          </li>
          <li>
            <a href="{% url 'batchtime' %}" title="Class">
              <span class="icon"><i class="fas fa-list-alt"></i></span>
              <span class="link-text">Class Schedule</span>
            </a>
          </li>
          <li>
            <a href="{% url 'attendencepage' %}" title="Attendence">
              <span class="icon"><i class="fas fa-calendar-check"></i></span>
              <span class="link-text">Attendence</span>
            </a>
          </li>
          <li>
            <a href="{% url 'trainerleave' %}" title="Leave">
              <span class="icon"><i class="fas fa-comment-alt"></i></span>
              <span class="link-text">Leaves</span>
            </a>
          </li>
          <li>
            <a href="{% url 'trainerpass' %}" title="Password">
              <span class="icon"><i class="fas fa-key"></i></span>
              <span class="link-text">Change Password</span>
            </a>
          </li>
          <li>
            <a href="{% url 'logout_user' %}" title="Sign Out">
              <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
              <span class="link-text">Logout</span>
            </a>
          </li>
        </ul>
    </div>
    <div class="content">
        <nav class="navbar navbar-dark  py-1 fixed-top" style="background-color: rgba(95, 40, 109, 0.89);">
            <div style="display: flex;">
              <a href="#" id="navBtn" class=" mr-5 ml-lg-1 ">
                <span id="changeIcon" class="fa fa-bars " style="color: #ffffff;"></span>
              </a>
              <h4 class="  mt-1">
                <span class="icon"><i class="fas fa-university" style="color: #ffffff;"></i></span>
                <span class="link-text" style="color: #ffffff;">Trainee Panel</span>
              </h4>
            </div>
            <div class="d-flex">
              <a class="nav-link text-light px-2 text-white" href="#"><i class="fas fa-search"></i></a>
              <a class="nav-link text-light px-2 text-white" href="#"><i class="fas fa-bell"></i></a>
              <a class="nav-link text-light px-2 text-white" href="{% url 'logout_user' %}"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </nav>
      <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-lg-12 col-md-12 p-2">
                <div class="container-fluid mt-4">
                  <form class="mx-auto " method="post" action="{% url 'editU1' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4 class="text-center head">Edit Details</h4>
                    {% for message in messages %}
                        <h5>
                            <div class=" text-danger text-center my-2" style="font-size: medium;">
                                {{ message }}
                            </div>
                        </h5>
                    {% endfor %}
                    <div class="mb-3 mt-4">
                      <label for="fname" class="form-label">First Name</label>
                      <input type="text" class="form-control" name="fname" id="fname" value="{{user.user.first_name}}">
                      <span id="nameError" style="color: red;"></span>
                    </div>
                    <div class="mb-3">
                        <label for="lname" class="form-label">Lastname</label>
                        <input type="text" class="form-control" name="lname" value="{{user.user.last_name}}">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username" value="{{user.user.username}}">
                        <span id="usernameError" style="color: red;"></span>
                    </div>
                    <div class="mb-3">
                        <label for="profile" class="form-label">Upload your image</label>
                        <input type="file" class="form-control" name="profile" accept="image/*">
                    </div>
                    <div class="mb-3">
                        <img src="{{user.Image.url}}" style="width: 150px;" class="ml-1"></td>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{user.user.email}}">
                        <span id="emailError" style="color: red;"></span>
                    </div>
                    <div class="mb-3">
                        <label for="contact" class="form-label">Contact Number</label>
                        <input type="text" class="form-control" name="contact" id="contact" value="{{user.phone}}">
                        <span id="contactError" style="color: red;"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Edit</button>
                  </form>
                </div>
            </div>
        </div>
      </div>
    </div>
    <script>
      function validateName() {
          var name = document.getElementById("fname").value;
          var nameError = document.getElementById("nameError");
          if (name.trim() === "") {
              nameError.innerText = "Name is required.";
          } else {
              nameError.innerText = "";
          }
      }

      function validateEmail() {
          var email = document.getElementById("email").value;
          var existingEmails = "{{ existing_emails|safe }}";
          var emailError = document.getElementById("emailError");
          var regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
          if (email.trim() === "" || !regex.test(email)) {
              emailError.innerText = "Valid email is required.";
          }else if(existingEmails.includes(email)) {
              emailError.innerText = 'Email is already registered';
          } else {
              emailError.textContent = '';
          }
      }
      function validateusername() {
          var username = document.getElementById("username").value;
          
          var usernameError = document.getElementById("usernameError");
          if (username.trim() === "") {
              usernameError.innerText = "Username is required.";
          }else {
              usernameError.textContent = '';
              checkusername(username);
          }
      }
      function checkusername(username){
          var user=username;
          var existingUsers = "{{ usernames }}";
          if(existingUsers.includes(username)) {
              usernameError.textContent = 'Username is already registered';
          }else {
              usernameError.textContent = '';
          }
      }

      function validateContact() {
          var contact = document.getElementById("contact").value;
          var contactError = document.getElementById("contactError");
          if (contact.trim() === "" || isNaN(contact) || contact.length !== 10) {
              contactError.innerText = "Valid contact number is required(10 digit).";
          } else {
              contactError.innerText = "";
              checkPhone(contact)
          }
      }
      function checkPhone(contact){
          var ph=contact;
          var existingNum = "{{ phone }}";
          if(existingNum.includes(ph)) {
              contactError.textContent = 'Phone number is already registered';
          }else {
              contactError.textContent = '';
          }
      }

      document.getElementById("fname").addEventListener("input", validateName);
      document.getElementById("email").addEventListener("input", validateEmail);
      document.getElementById("contact").addEventListener("input", validateContact);
      document.getElementById("username").addEventListener("input", validateusername);

      // document.querySelector("form").addEventListener("submit", function(event) {
      //     event.preventDefault(); // Prevent form submission
      //     validateName();
      //     validateEmail();
      //     validateContact();
      //     validateusername()
      //     // Add code here to handle successful form submission
      // });
    </script>
</body>

</html>